body{
  background-color:black;
  font-family:"Helvetica", Arial, sans-serif;
}

h1{
color: #5c88da;
       font-size: 75px;
       margin-top 0px
}

#map-canvas{
height: 480px;
width: 1400px;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       margin-top: 50px;
}

@media only screen and (max-device-width: 640px){
#map-canvas{
height: 600px;
width: 200px;
}
}
