<!DOCTYPE html>
<html>
<head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbSW4XMaCsMs_8hnDsEy1DRCf19e1oUjM&sensor=true&libraries=places"></script>
<link href="static/style.css" rel="stylesheet" type="text/css" media="Screen" />
<link href="static/mobile.css" rel="stylesheet" type="text/css" media="handheld" />
</head>

<body>
<title>Where's the Bar?</title>

<h1>Where's the Bar?</h1>
<p>Powered by Pokemon Y, your friendly neighborhood Google, and USACS.</p>

<div id="map-canvas"> </div>

<script src="static/generateMap.js"></script>
</body>
</html>
